<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<body>
    <div class="container">
        <div class="titulo">
            <h1 class="main-title" class="fade-in">Welcome to Quantum Code Generation</h1>
            <p class="fade-in">
                This web allows you to design, simulate, and execute quantum circuits efficiently.
            </p>
        </div>

        <div class="info-container">
            <div class="intro-section container fade-in">
                <h2 class="intro-title">About quantum code</h2>
                <div class="content-container">
                    <p class="intro-text">
                        Quantum code leverages the power of quantum computing to solve complex problems faster than
                        traditional computers.
                        By harnessing qubits and quantum gates, it enables advanced algorithms like Grover's search and
                        quantum optimization.
                        This makes it incredibly useful for tasks such as cryptography, data analysis, and simulation of
                        quantum systems.
                        As quantum technology continues to evolve, learning and experimenting with quantum code opens
                        the door to groundbreaking possibilities in computing and problem-solving.
                    </p>
                    <div class="image-container">
                        <img src="assets/img/posicionesQubit.png" alt="qubitsImg" class="posicionesQubit">
                    </div>
                </div>
            </div>
            <div class="features-section fade-in">
                <h2 class="intro-title">Available features:</h2>
                <p class="features-text">
                    In this web, you can access the following features to explore quantum computing and quantum code
                    generation:
                </p>
                <ul class="features-list">
                    <li routerLink="matrixes" routerLinkActive="active" class="option fade-in">
                        <strong>Matrices:</strong> work with single matrices to perform quantum operations.</li>
                    <li routerLink="grenoble" routerLinkActive="active" class="option fade-in"><strong>Grover, Grover
                            and Rudolph, Greenoble:</strong> different algorithms for improved problem-solving.</li>
                    <li routerLink="elonging" routerLinkActive="active" class="option fade-in"><strong>Genetic
                            algorithm:</strong> enhance solutions using a genetic algorithm approach.</li>
                    <li routerLink="blocks" routerLinkActive="active" class="option fade-in"><strong>Blocks genetic
                            algorithm:</strong> enhance solutions using a block-based genetic algorithm approach.</li>
                    <li routerLink="editor" routerLinkActive="active" class="option fade-in"><strong>Circuits
                            editor:</strong> create and customize quantum circuits interactively.</li>
                    <li routerLink="qubits-configuration" routerLinkActive="active" class="option fade-in">
                        <strong>Qubits configurations:</strong> define, customize, and visualize different qubit state
                        configurations.</li>
                    <li routerLink="templates" routerLinkActive="active" class="option fade-in"><strong>Code
                            templates:</strong> use templates to generate your quantum code and create new ones.</li>
                    <li routerLink="transpilation" routerLinkActive="active" class="option fade-in">
                        <strong>Transpilation:</strong> view the active and completed code transpilations and their
                        specifications.</li>
                    <li routerLink="execution-history" routerLinkActive="active" class="option fade-in">
                        <strong>Execution history:</strong> track and view the status of past remote code executions.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>