.matrixCell {
    border-left : 1px solid black;
    border-right : 1px solid black;
    border-radius: 10px;
    line-height: 0.5em;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    margin-right: 10px;
}

ul li.right {
    margin-right: 0;
}