<div>
    Number of:<br>
    Input qubits: <input type="number" min="2" [(ngModel)]="inputQubits">
    <br>
    Output qubits: <input type="number" min="0" [(ngModel)]="outputQubits">
    <button (click)="getEmptyMatrix()">Build input matrix</button>
    <br>
    <h3><mark style="color : red">{{ error }}</mark></h3>
</div>

<div *ngIf="matrix">
    <p>
        Do click on an <span style="color:red">output qubit</span> to negate its value, or change its corresponding decimal value to update the <span style="color:red">output qubits,</span>
        <br>
        or write JavaScript expressions to assign value to the output qubits. Press <a style="color : blue" (click)="hideExamples=!hideExamples">here</a> to show or hide some examples. 
    </p>
    <div [hidden]="hideExamples">
        <strong>Examples of expressions to fill-in the table:</strong>
        <ol>
            <li *ngFor="let javaExample of javaExamples; let i = index">
                <span *ngIf="javaExample.exprs.length==1">
                    <code>{{ javaExample.exprs[0] }}</code>
                    →
                    &nbsp;
                    <i>{{ javaExample.explanation }}</i>
                    &nbsp;
                    <a style="color: blue;" (click)="tryFill(i)">Try</a>
                </span>
                <span *ngIf="javaExample.exprs.length>1">
                    <i>{{ javaExample.explanation }}</i>
                    <ol *ngFor="let expr of javaExample.exprs; let j=index">
                        <code>{{ expr }}</code>
                        <span *ngIf="j==javaExample.exprs.length-1">
                            &nbsp;<a style="color: blue;" (click)="tryFill(i)">Try</a>
                        </span>
                    </ol>
                </span>
            </li>
        </ol>
        The expressions' error messages are not too explicit. So, press <a style="color:blue" (click)="hideInstructions=!hideInstructions">here</a> to see or hide instructions and counterexamples (examples of wrong expressions).
        <div [hidden]="hideInstructions" style="border : 1px solid;">
            The expressions you can introduce are processed by an extremely simple syntactic parser. Each expression must be an assignment, and is mandatory that:
            <ol>
                <li>
                    The left side of the assignment must reference an output qubit with the notation <code><strong>q<i>index</i></strong></code>, where the <i>index</i> is one of the output qubits' indexes. Examples are <code><strong>q0</strong></code>, <code><strong>q1</strong></code> or <code><strong>q10</strong></code> (if <code><strong>q10</strong></code> is an output qubit).
                    <br>
                    So, <strong>qn</strong> or <strong>qi</strong> won't work.
                </li>
                <li>
                    The right side must fulfill the form <code><strong>condition ? <i>0 or 1</i> : <i>0 or 1</i></strong></code>. 
                    <br>
                    Values different than <code>0</code> or <code>1</code>, such as <strong><code>5</code></strong> or 
                    <strong><code>-1</code></strong> likely won't work.
                </li>
                <li>
                    The <code><strong>condition</strong></code> may reference an input qubit (<code><strong>q0</strong></code> or <code><strong>q1</strong></code>, for example)
                    or the row index of the table with the word <code><strong>index</strong></code>.
                </li>
                <li>
                    Complex values, such as the <strong>bold text</strong> in <mark><code>(q0==1) ? <strong>(q1==0 ? 1 : 0)</strong> : 0</code></mark> are not allowed. Likely you'll get an unexplicit error message.
                </li>
                <li>
                    Every expression you write will processed in the server using the <code>ScriptEngineManager</code> Java class, instantiated to the <code>JavaScript</code> engine.
                </li>
            </ol>
            Press <a style="color : blue" (click)="hideInstructions=!hideInstructions">here</a> to hide these instructions.
        </div>
    </div>

    <div>
        <strong>Your expressions:</strong>
        <br>
        <input type="text" size="50" 
            [(ngModel)]="currentUserExpression" (dblclick)="openTextArea(this, $event, 'Expressions')"
            placeholder="do double click to add several expressions">
            &nbsp;<a style="color : blue" (click)="addUserExpression()">Add</a>
        <div *ngFor="let userExpression of userExpressions; let i = index">
            <code>{{ userExpression }}</code>&nbsp;<a style="color : blue" (click)="removeUserExpression(i)">Remove</a>
        </div>
        <br>
        <button (click)="fillTableWithUserExpressions()">Fill table with these expressions</button>
        &nbsp;
        Amplitude domain: <input type="radio" [(ngModel)]="domain" [value]="'amplitude'" name="domain">
        &nbsp;
        Phase domain: <input type="radio" [(ngModel)]="domain" [value]="'phase'" name="domain">
        &nbsp;
        Available templates:
        <select [(ngModel)]="manager.selectedTemplate" (ngModelChange)="onTemplateChange($event)">
            <option *ngFor="let template of manager.getTemplatesStartingBy('matrixes')" [ngValue]="template">
              {{ template.fileName }}
            </option>
        </select> 
    </div>

    <table border="1">
        <tr>
            <th></th>
            <th [colSpan]="inputQubits">Input</th>
            <th [colSpan]="outputQubits + 1">Output</th>
            <th rowspan="2">
                <u href="#" (click)="drawAllQuirk(matrix)">Quirk</u>
                <br>
                <small><input type="checkbox" [(ngModel)]="reduceQuirk">Reduce</small>
            </th>
            <th rowspan="2">
                <u href="#" (click)="getUnitaryMatrix(matrix)">Matrices</u>
            </th>
            <th rowspan="2">
                Qiskit code: <u href="#" (click)="getQiskitCode(matrix, false)">as a whole program</u>
                &nbsp;
                <u href="#" (click)="getQiskitCode(matrix, true)">as a function</u>
                <br>
                <small><input type="checkbox" [(ngModel)]="reduceQuiskit">Reduce</small>
            </th>
        </tr>
        <tr>
            <th></th>
            <th *ngFor="let i of [].constructor(cols); let cont = index" align="center">
                q<sub>{{cont}}</sub>
            </th>
            <th>
                <u><small>Decimal value</small></u>
            </th>
        </tr>

        <tr *ngFor="let row of matrix; let rowIndex = index" 
                align="center">
            <th>
                {{rowIndex}}
            </th>
            
            <td *ngFor="let value of row; let colIndex = index"
                align="right" (click)="negate(rowIndex, colIndex)">
                <span *ngIf="colIndex<inputQubits" style="color: green">
                    {{ value }}
                </span>                               
                <span *ngIf="colIndex>=inputQubits" style="color: red">
                   {{ value }}
               </span>         
            </td> 
            <td>
                <input type="number" min="0" [(ngModel)]="decimals![rowIndex]" (change)="updateOutputQubits(rowIndex)">
            </td>
            <td>
                <u href="#" (click)="drawQuirk(rowIndex, matrix)">Draw</u>
            </td>
            <td>
                <u href="#" (click)="getUnitaryMatrix(matrix, rowIndex)">Unitary matrix</u>
            </td>
            <td>
                Qiskit code: <u href="#" (click)="getQiskitCode(matrix, false)">as a whole program</u>
                &nbsp;
                <u href="#" (click)="getQiskitCode(matrix, true)">as a function</u>
                <br>
                <small><input type="checkbox" [(ngModel)]="reduceQuiskit">Reduce</small>
            </td>
        </tr>
    </table>

    <table border="1" *ngIf="finalMatrixNumberOfRows>0">
        <tr>
            <th rowspan="3"></th>
            <th [colSpan]="inputQubits + outputQubits + 2">
                <small>Original expanded matrix</small>
            </th>

            <th rowspan="3" style="background-color: beige;">→</th>
            
            <th [colSpan]="inputQubits + outputQubits + 2">
                <small>Expected matrix</small>
            </th>
        </tr>
        <tr>
            <th [colSpan]="inputQubits">Input</th>
            <th [colSpan]="outputQubits">Output</th>
            <th rowspan="2">
                <u href="#" (click)="drawAllQuirk(startMatrix!)">Quirk</u>
            </th>
            <th rowspan="2">
                <u href="#" (click)="getUnitaryMatrix(startMatrix!)">Matrix</u>
            </th>
            
            <th [colSpan]="inputQubits">Input</th>
            <th [colSpan]="outputQubits">Output</th>

            <th rowspan="2">
                <u href="#" (click)="drawAllQuirk(finalMatrix!)">Quirk</u>
            </th>
            <th rowspan="2">
                <u href="#" (click)="getUnitaryMatrix(finalMatrix!)">Matrix</u>
            </th>
        </tr>
        <tr>
            <th *ngFor="let i of [].constructor(cols); let cont = index" align="center">
                q<sub>{{cont}}</sub>
            </th>
            <th *ngFor="let i of [].constructor(cols); let cont = index" align="center">
                q<sub>{{cont}}</sub>
            </th>
        </tr>
        <tr *ngFor="let row of startMatrix; let rowIndex = index">
            <th>
                {{ rowIndex }}
            </th>
            <td *ngFor="let value of row; let colIndex = index"
                align="right">
                <span *ngIf="colIndex<inputQubits" style="color: green">
                    {{ value }}
                </span>                               
                <span *ngIf="colIndex>=inputQubits" style="color: red"
                    (click)="negate(rowIndex, colIndex)">
                    {{ value }}
                </span>                      
            </td> 
            <td>
                <u href="#" (click)="drawQuirk(rowIndex, startMatrix!)">Draw</u>
            </td>
            <td>
                <u href="#" (click)="getUnitaryMatrix(startMatrix!, rowIndex)">Unitary matrix</u>
            </td>
            <td style="background-color: beige;"></td>
            <td *ngFor="let value of row; let colIndex = index"
                align="right">
                <span *ngIf="colIndex<inputQubits" style="color: green">
                    {{ finalMatrix![rowIndex][colIndex] }}
                </span>                               
                <span *ngIf="colIndex>=inputQubits" style="color: red"
                    (click)="negate(rowIndex, colIndex)">
                    {{ finalMatrix![rowIndex][colIndex] }}
                </span>
            </td> 
            <td>
                <u href="#" (click)="drawQuirk(rowIndex, finalMatrix!)">Draw</u>
            </td>
            <td>
                <u href="#" (click)="getUnitaryMatrix(finalMatrix!, rowIndex)">Unitary matrix</u>
            </td>
        </tr>
    </table>

    <p *ngIf="numberOfReceivedMatrixes!=0">
        Received one matrix of {{ qiskitMatrix.length }} x {{ qiskitMatrix.length }}.<br>
        The calculus time on the server has been of {{ calculusTime }} seconds.
    </p>

    <p *ngIf="numberOfReceivedMatrixes==-1">
        Since the data sent contain zero in all the output qubits, no matrices have been produced.
    </p>

    <div *ngIf="qiskitCode && qiskitCode.length>0" style="border: solid 1px;">
        <a style="color : blue" (click)="addHadamardGates()">Start with Hadamard gates</a>
        &nbsp;
        <a style="color : blue" (click)="countLastQubit()">Count last qubit</a>            
        <div style="font-size: x-small;">
            <pre *ngFor="let line of qiskitCode">{{ line }}</pre>
        </div>
    </div>

    <div *ngIf="qiskitMatrix">
        <small style="font-family: 'Courier New', Courier, monospace;">
            <pre>{{ qiskitMatrixStart }}</pre>
            <code>component = Operator([<br></code>
            <code *ngFor="let row of qiskitMatrix; let i = index">
                &nbsp;&nbsp;[
                <span *ngFor="let cell of row; let j = index">
                    <b *ngIf="cell!=0">{{ cell }}</b>
                    <span *ngIf="cell==0">0</span>
                    <span *ngIf="j<row.length-1">,</span>
                </span>
                ]<span *ngIf="i<row.length-1">,</span>
                <br>
            </code>
            <code>])</code>
            <pre>circuit.unitary(component, qreg)</pre>
            <pre>{{ qiskitMatrixEnd }}</pre>
        </small>
    </div>
</div>
