


<table border ="1" class="table table-striped">
    <caption>
        Transpilation Works 
        <a (click)="getTranspilationWorks()" class="btn btn-primary" style="color: blue;">
            Reload
        </a>
    </caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Backends</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transpilation of transpilationWorks">
            <td>
                <strong>{{transpilation.id}}</strong>
                <br>
                <strong>Started at: </strong> {{transpilation.creationDateTime}}
                <br>                
                <button (click)="cancelTranspilation(transpilation.id)" class="btn btn-danger btn-sm" *ngIf="transpilation.progress<transpilation.statusLines.length">
                    Stop
                </button>
                <button (click)="cancelTranspilation(transpilation.id)" class="btn btn-danger btn-sm" *ngIf="transpilation.progress==transpilation.statusLines.length">
                    Delete
                </button>
            </td>
            <td>{{transpilation.name}}</td>
            <td>
                <div *ngFor="let statusLine of transpilation.statusLines">
                    <span *ngIf="statusLine.id">
                        <span *ngIf="statusLine.finished && !statusLine.hasErrors">
                            <a (click)="getTranspiledCode(statusLine.id)" style="color : blue">
                                {{ statusLine.backend }}
                            </a>
                            ({{statusLine.size}} Mbytes) ✅ 
                            <!--
                            <a (click)="loadSvg(statusLine.id)">
                                ✍️
                            </a>-->
                        </span>
                        <a *ngIf="statusLine.finished && statusLine.hasErrors" style="color : blue" (click)="getErrors(statusLine.id)">
                            {{ statusLine.backend }} ❌
                        </a>
                        Time: {{ statusLine.transpilationTime }} ms
                    </span>
                    <span *ngIf="!statusLine.id" class="badge badge-secondary">
                        {{ statusLine.backend }} <span class="spin">⚙️</span>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<textarea rows="10" cols="100" class="form-control" 
          [ngModel]="transpiledCode" 
          placeholder="Transpiled code will appear here">
</textarea>

<img [src]="'data:image/png;base64,' + svgCircuit" *ngIf="svgCircuit">