# Virtual environments
.venv/
venv/
ENV/
env/
*.venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Testing & linters cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE & OS
.idea/
.vscode/
.DS_Store
*.log
