body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.mensaje-temporal {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s;
    opacity: 0.9;
    z-index: 9999;
}

div.titulo {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin: 0;
    margin-top: -20px;
}

h1 {
    display: inline-block;
    /* background: linear-gradient(90deg, #005c99, #0099cc); */
    background-color: #008f99;
    color: white;
    font-family: 'Georgia', serif;
    /* font-size: 32px; */
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); */
    /* text-align: center; */
    position: relative;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2 {
    color: #0b555a;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 23px;
}

h3 {
    /* color: #2980b9; */
    color: #14645b;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 2px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
}

button:hover {
    background-color: #2980b9;
}


.action-icon-header {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding: 4px;
    transition: color 0.2s;
  }

  .action-icon-header:hover {
    color: #707a7a;
    background: transparent;
  }

.matrixTitle-container {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.buildTitle {
    margin-top: 0px;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.container.matrix-container {
    background-color: #e7eeed;
    border-radius: 12px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.input-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
}

.form-row {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 10px; /* Espacio entre elementos */
}

.form-row label {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.form-row input {
    /* width: 80px; */
    width: 100%;
}

.form-row button {
    margin-left: auto; /* Empuja el botón hacia la derecha */
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

.qubitsContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 35%;
    margin: 15px;
}


.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #2980b9;
    outline: none;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

label {
    font-size: 15px;
    color: #34495e;
    display: block;
    align-items: center;
    margin-bottom: 8px;
}

.input-hint {
    color: #6c757d;
    font-size: 12px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.error-text {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
}

.form-actions {
    text-align: center;
}

.btn {
    background-color: #0b555a;
    color: white;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #149099;
    transform: scale(1.05);
}

.btn:disabled {
    background: #b0c4de;
    cursor: not-allowed;
    transform: none;
}

.buildText {
    width: 30%;
    text-align: left;
    border-right: 3px dashed #197a81;
}

p {
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    background-color: none;
}

.buildTitle {
    margin-top: 0px;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.container.matrix-container {
    background-color: #e7eeed;
    border-radius: 12px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.fa-refresh:hover {
    color: #0f3436;
    transform: scale(1.05);
    cursor: pointer;
}

.btn-reset {
    padding-bottom: 10px;
    padding-top: 3px;
    background: none;
    color: #0b555a;
    font-weight: bold;
    font-size: 18px;
    border: none;
  }

.btn-reset:hover {
    background: none;
}


.editTable-button {
    color: #0b555a;
    background: none;
    border: none;
    margin-left: 0px;
    font-size: 18px;
}

.editTable-button:hover {
    background: none;
}

.fa-edit:hover {
    color: #0f3436;
    transform: scale(1.05);
    cursor: pointer;
}


.custom-tooltip {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 12px;
    z-index: 100;
    background: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    width: auto;
    max-width: 400px;
    font-size: 13px;
  }

  .custom-tooltip::before {
    content: "";
    position: absolute;
    top: 12px; /* Ajusta verticalmente si es necesario */
    left: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #ccc; /* borde del pico */
  }
  
  .custom-tooltip::after {
    content: "";
    position: absolute;
    top: 13px; /* Un píxel más abajo para simular relleno */
    left: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #f9f9f9;
  }

  .custom-tooltip-pi {
    position: absolute;
    margin-left: 12px;
    z-index: 100;
    background: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    width: auto;
    max-width: 400px;
    font-size: 13px;
  }

  .custom-tooltip-pi::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
  }

  .custom-tooltip-pi::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f9f9f9;
  }


  .radioTitle {
    font-size: 16px;
    font-weight: bold;
    color: #0b555a;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;
}


.matrix-editor-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;

    max-width: 100%;
    max-height: 700px;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

.half {
    flex: 1;
    padding: 15px;
    overflow: auto;
    width: 50%;
    float: right;
}


.expressions-section {
    background: #e0f1f1;
    padding: 15px;
    border-radius: 8px;
    border-top: 4px solid #128c7e;
    border-bottom: 4px solid #128c7e;
    width: 100%;
    
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

ol {
    padding-left: 20px;
    margin: 0;
}

.expressions-section ol {
    padding-left: 20px;
    justify-content: left;
}

.expression-list code {
    flex-grow: 1;
    margin-right: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
    clear: both;
    height: 100%;
    width: 100%;
    max-height: 700px;
    flex: 1 1 50%;
    overflow-x: auto;
}

.table-button-container {
    display: flex;
    align-items: stretch; 
    justify-content: flex-start;
    width: 100%;
}


th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.table-input {
    border-radius: 5px;
    border-width: 1px;
    width: 90%;
}

.table-input:focus {
    border-color: #2980b9;
    outline: none;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

th {
    background-color: #0b555a;
    color: white;
    font-weight: bold;
    /* border: 1px solid #ddd; */
    border: 1.5px solid #bbb7b7;
}

td {
    padding: 1px;
    /* border: 1px solid #ddd; */
    border: 1.5px solid #bbb7b7;
    text-align: center;
}

tr {
    background-color: #4377611c;
}

/* tr:nth-child(even) {
    background-color: #4377612a;
} */

tr:hover {
    /* background-color: #e8f3ed; */
    background-color: #0b555a4b;
    transition: 0.3s;
}

th, td {
    border-radius: 3px;
}


.tooltip {
    position: absolute;
    background: #f9f9f9;;
    color: black;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
    margin-top: 5px;
    z-index: 10;
    top: 100%;
    left: 50%;
    min-width: 350px;
    font-weight: normal;
    top: 100%;
    border: 1px solid #ccc;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f9f9f9;
  }

  .tooltip .divider {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #666262;
}

.tooltip .divider span {
    padding: 0 5px;
    color: #666262;
}

  
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  justify-content: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #ccc;
  max-width: 400px;
}

.divider span {
  padding: 0 12px;
  color: #666;
  font-weight: bold;
}

/* Estilo para los textos dentro del tooltip que estén destacados (highlight) */
.tooltip .highlight {
    color: #c2453c; /* Color verde para resaltar texto */
}

/* Estilo para el enlace dentro del tooltip */
.tooltip .instructions-link {
    color: #2196f3; /* Color azul para el enlace */
    cursor: pointer;
    text-decoration: underline; /* Subraya el texto */
}

.tooltip .instructions-link:hover {
    color: #1d527e; /* Color azul para el enlace */
    cursor: pointer;
    text-decoration: underline; /* Subraya el texto */
}

/* Estilo para la división que separa las instrucciones */
.tooltip .divider {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #666262;
}

.tooltip .divider span {
    padding: 0 5px;
    color: #666262;
}

.list-instructions li {
    margin-bottom: 15px;
    font-size: 15px;
}

.tooltip ol {
    font-size: 14px;
    text-align: left;
    justify-content: left;
}

.tooltip li {
    margin: 5px;
}

.tooltip p {
    margin: 5px;
}

.matrixTitle-container {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Puedes poner esto en tu archivo .css del componente, por ejemplo `selector.component.css` */
.selector-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .selector-container button {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .selector-container button.active {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
  }
  
  .form-group select {
    width: 100%;
    min-height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group select:hover {
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
    border-color: #2980b9;
    cursor: pointer;
  }

  .form-group select:focus {
    border-color: #2980b9;
    outline: none;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
  }

  .form-group option:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }


  .config-cell {
    color: white;
    font-size: 14px;
  }

  .config-cell label {
    color: white;
  }
  
  .config-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px
  }
  
  .config-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .config-item input[type="number"],
  .config-item input[type="text"] {
    padding: 2px;
    border-radius: 4px;
    width: 100px;
  }
  
  .config-item.checkbox label {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .config-item.checkbox {
    gap: 10px;
  }

  .config-inputs-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    gap: 10px;
  }

  .config-input {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .config-item.buttons button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007acc;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .config-item.buttons button:hover {
    background-color: #005f99;
  }
  

  .probability-cell {
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
  }
  
  .pi-label {
    font-size: 18px;
  }
  
  .prob-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  
  .prob-controls input[type="number"] {
    padding: 3px 5px;
    width: 60px;
    border-radius: 4px;
  }
  
  .clickable {
    cursor: pointer;
    color: white;
    transition: color 0.2s;
  }
  
  .clickable:hover {
    color: #ffffffa8;
    transform: scale(1.05);
  }
  
  .reset-btn {
    background: none;
    padding: 5px;
  }

  .reset-btn:hover {
    background: none;
  }

  .reset-btn i {
    font-size: 12px;
  }

  .reset-btn i:hover {
    transform: scale(1.05);
    color: #ffffffa8;
  }

  .true-row {
    background-color: rgba(15, 92, 15, 0.541);
    color: white;
  }

  .true-row .label-number {
    color: white;
  }

  .label-number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
  }  

  .grover-row:hover {
    cursor: pointer;
  }

  .grover-row label:hover {
    cursor: pointer;
  }
  
  .header-with-button {
    grid-template-columns: auto 1fr auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.actions-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
}
  
.apply-button {
    background-color: #10989c;
}

.apply-button:hover {
    background-color: #267375;
    transform: scale(1.05);
}

/* Modales */

  
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
}

.modal-content {
  background-color: #fff;
  width: 80%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  font-family: Arial, sans-serif;
}

.modal-header {
  position: sticky; /* Se mantiene fija en la parte superior dentro del modal */
  top: 0; /* Pegada arriba */
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #008b95;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /* Asegura que esté por encima del contenido */
}

.title-modal {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding-left: 20px;
}


.modal-footer {
  position: sticky; /* Se mantiene fija en la parte superior dentro del modal */
  bottom: 0; /* Pegada abajo */
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100; /* Asegura que esté por encima del contenido */
}


.enlaces-modal {
  display: block;
  text-align: center;
  
  gap: 20px;
  margin: 15px 0;
}

.enlaces-modal a {
  display: inline-block; 
  background-color: #008b95; 
  color: white; 
  text-decoration: none; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  padding: 10px 20px;
  border-radius: 6px; 
  border: none; 
  text-align: center; 
}

.enlaces-modal a:hover {
  background-color: #0f5d63;
  color: white;
  text-decoration: none;
  transform: scale(1.05);
}


.modal.instrucciones {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  pointer-events: none; /* Permite hacer clic fuera del modal */
}

.modal-content.instrucciones {
  pointer-events: auto; /* Solo el contenido del modal es interactivo */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 600px;
  max-width: none;
  max-height: none;
  overflow-y: auto;
  position: relative;

  /* 🪟 Estilo de ventana emergente */
  resize: both;
  overflow: auto;

  min-width: 300px;
  min-height: 200px;

  /* Opcional: borde para dar sensación de "ventana" */
  border: 1px solid #ccc;
}

.intructions-content {
  display: flex;
  flex-direction: column;
  padding: 15px;

  width: 100%;
  box-sizing: border-box;
}

p.text-instructions {
  text-align: left;
  justify-content: center;
  margin-bottom: 10px;
}

ol.list-instructions {
  padding-left: 30px;
  justify-content: center;
}

.list-instructions li {
  margin-bottom: 15px;
  font-size: 15px;
}

.modal.ejemplos {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  pointer-events: none; /* Permite hacer clic fuera del modal */
}

.modal-content.ejemplos {
  pointer-events: auto; /* Solo el contenido del modal es interactivo */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 60%;
  height: 80%;
  /* max-height: 90vh; */
  max-width: none;
  max-height: 100vh;
  overflow-y: auto;
  position: relative;

  /* 🪟 Estilo de ventana emergente */
  resize: both;
  overflow: auto;

  min-width: 300px;
  min-height: 200px;

  /* Opcional: borde para dar sensación de "ventana" */
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  flex-direction: row; /* Alinea en fila */
  align-items: center; /* Centra los botones verticalmente */
  justify-content: center;
  gap: 10px; /* Espacio entre los botones */
  margin-right: 0;
  width: auto;
}

.btn-addExample {
  background-color: #4c9696;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
}

.btn-addExample:hover {
  background-color: #386161;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
  padding-left: 80px;
  padding-right: 10px;
  background: none;
}

.close:hover {
background: none;
cursor: default;
color: white;
}

.close-i:hover {
  color: #ccc;
  cursor: pointer;
}

/* Close Button */
.close-btn {
  background: #007b7f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  justify-self: center;
}

.example-item {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  margin-bottom: 10px;
  width: 100%;
  font-style: normal !important;
}

i {
  font-style: normal !important;
}

.examples-code {
  background-color: #dce0de;
  font-style: normal !important;
}

.copy-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 10px 15px;
}

.copy-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.save-code-btn {
  background-color: #285ba7;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 10px 15px;
}

.save-code-btn:hover {
  background-color: #1b3763;
  transform: scale(1.05);
}

.help-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

  width: 100%;
}

.action-btn {
  background-color: #3aa751;
  border-radius: 12px;
  padding: 10px 15px;
}

.action-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}


.expression-output {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;

  width: 100%;
  box-sizing: border-box;
}

.expressionsContainer {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-container-expressions {
  margin: 20px;
}

.btn-createExp-edit:hover {
  /* background: none; */
  background-color: #1a7c83;
  transform: scale(1.05);
}

.update-btn {
  background-color: #149099;
  border-radius: 20%;
  padding: 10px;
}

.update-btn:hover {
  background-color: #0b555a;
  transform: scale(1.05);
}

.delete-expression-btn {
  background-color: rgb(219, 67, 67);
  border-radius: 20%;
  padding: 10px;
}

.delete-expression-btn:hover {
  background-color: rgb(139, 70, 70);
  transform: scale(1.05);
}

.btn-delete-modal:hover {
  background-color: #881520;
  transform: scale(1.05);
}

.btn-cancel-delete-modal {
  background-color: #6c757d;
  color: white;
}

.btn-cancel-delete-modal:hover {
  background-color: #414549;
  transform: scale(1.05);
}

.modal-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-radius: 15px;
}

/* Caja del contenido del modal */
.modal-content-delete {
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  max-width: 90vw; /* Para evitar que se desborde en pantallas pequeñas */
  max-height: 90vh;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

/* Encabezado del modal */
.modal-header-delete {
  width: 100%;
  background-color: #a1241b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.modal-message-delete {
  padding: 20px;
  font-size: 16px;
  color: #333;
  text-align: center;
}


.btn-createExp-edit {
  /* background: none;
  padding: 7px; */

  background-color: #0b555a;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 8px 10px;
}

.btn-createExp-edit:hover {
  /* background: none; */
  background-color: #1a7c83;
  transform: scale(1.05);
}


.btn-confirm,
.btn-cancel {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 100px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.save-new-btn {
  background-color: #0b555a;
  border-radius: 12px;
  padding: 10px 15px;
  width: 80px;
}

.save-new-btn:hover {
  background-color: #1c747a;
  transform: scale(1.05);
}

.save-new-btn:disabled {
    background: #b0c4de;
    cursor: not-allowed;
    transform: none;
}

.btn-confirm {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-confirm:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-confirm:disabled {
    background-color: #8f929073;
    cursor: not-allowed;
    transform: none;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
}

.btn-cancel:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.cancel-btn {
  background-color: rgb(219, 67, 67);
  border-radius: 12px;
  padding: 10px 15px;
  width: 80px;
}

.cancel-btn:hover {
  background-color: rgb(139, 70, 70);
  transform: scale(1.05);
}

/* Disabled */

input:disabled,
textarea:disabled,
select:disabled {
    background-color: #f0f0f0; /* Color de fondo gris claro */
    border: 1px solid #ddd;    /* Borde gris claro */
    cursor: not-allowed;       /* Cambia el cursor a no permitido */
    color: black;
}

input[disabled], textarea[disabled], select[disabled] {
    opacity: 0.7;              /* Opacidad reducida para dar un aspecto deshabilitado */
}

.disabled {
    pointer-events: none; /* Bloquea los clics */
    opacity: 0.5; /* Reduce la opacidad para indicar que está bloqueado */
    cursor: not-allowed; /* Cambia el cursor */
}


.spinner-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .enlaces-modal .quirk-select:hover {
    background: none;
    color: white;
    text-decoration: none;
    transform: scale(1);
    cursor: default;
  }

  .btn-quirk {
    background-color: #37abaf;
    color: white;
    padding: 6px 7px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    margin-left: 10px;
  }

  .btn-quirk:hover {
    background-color: #0b555a;
    transform: scale(1.05);
  }

  
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #2ea3ac;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: all 0.2s;
  vertical-align: middle;
}

.custom-checkbox:checked {
  background-color: #2ea3ac;
  border-color: #2ea3ac;
}

.custom-checkbox:checked::after {
  content: '✔';
  color: white;
  font-size: 12px;
  position: absolute;
  left: 2px;
  top: -2px;
}

.header-left-info {
  position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
}

.custom-radio {
    margin-bottom: 0px;
    font-size: 13px;

    display: flex;
    align-items: center;
}

.custom-radio:hover {
    cursor: pointer;
}
.custom-radio .pRadio:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.637);
}


.custom-radio .pRadio {
  margin: 0px;
  margin-top: 5px;
  font-size: 13px;
  padding: 0px;
}

.custom-radio .pRadioTitle {
  margin: 0px;
  margin-top: 2px;
  font-size: 15px;
  padding: 0px;
}