<div>
    Number of qubits: <input type="number" min="1" (change)="updateNumberOfQubits(); updateNumberOfBlocks()" [ngModel]="pc.inputConfiguration.qubits" id="numberOfQubits">
    &nbsp;
    <table style="border : solid 1px">
        <tr>
            <th align="left"><i>Qubits</i></th>
            <th *ngFor="let i of [].constructor(pc.inputConfiguration.qubits); let qubitIndex = index">
                {{qubitIndex}}
            </th>
            <th>Parameterization</th>
            <th>Available gates</th>
        </tr>
        <tr>
            <th align="left"><i>Output qubits</i></th>
            <td *ngFor="let i of [].constructor(pc.inputConfiguration.qubits); let qubitIndex = index">
                <input type="checkbox" [(ngModel)]="pc.inputConfiguration.outputs[qubitIndex]" 
                    (change)="updateNumberOfBlocks(); updateOutputs()">
            </td>
            <td rowspan="2">
                Initial population size: <input type="number" min="2" step="2" [(ngModel)]="pc.inputConfiguration.populationSize">
                <br>
                Shots: <span>{{ pc.inputConfiguration.shots }}</span>
                <br>
                Desired error (%): <input type="number" min="0" [step]="1/pc.inputConfiguration.shots" [(ngModel)]="pc.desiredError"
                    (change)="updateDesiredError()">
            </td>
            <td>
                <ng-container *ngFor="let gate of gates; let i=index">
                    <input type="checkbox" [(ngModel)]="gate.selected" (change)="saveConf()"> {{ gate.name }}
                </ng-container>
            </td>
        </tr>
    </table>
    <br>

    <table>
        <tr>
            <td> Starting columns: <input type="number" min="0" step="1" [(ngModel)]="pc.inputConfiguration.blockCircuit.numberOfStartColumns" 
                (change)="pc.inputConfiguration.blockCircuit.updateStartColumns()">
            </td>
            <td>
                Number of blocks: <input type="number" min="0" step="1" [(ngModel)]="pc.inputConfiguration.blockCircuit.numberOfBlocks">
                <br>
                Number of columns in the block: between <input type="number" min="1" [(ngModel)]="pc.inputConfiguration.minNumberOfColumns"> and <input type="number" min="1" [(ngModel)]="pc.inputConfiguration.maxNumberOfColumns">            
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table>
                    <tr>
                        <th [colSpan]="pc.inputConfiguration.qubits+pc.inputConfiguration.blockCircuit.numberOfBlocks">Circuit view</th>
                    </tr>
                    <tr *ngFor="let i of [].constructor(pc.inputConfiguration.qubits); let qubitIndex = index">
                        <th>
                            <strong>q<sub>{{ qubitIndex }}</sub></strong>
                        </th>
                        <td *ngFor="let j of [].constructor(pc.inputConfiguration.blockCircuit.numberOfStartColumns); let colIndex = index">
                            <ng-container *ngIf="pc.inputConfiguration.blockCircuit.startingColumns[colIndex]">
                                <input size="3" type="text" [(ngModel)]="pc.inputConfiguration.blockCircuit.startingColumns[colIndex].gates[qubitIndex].name" (change)="setGate(qubitIndex, colIndex, $event)">
                            </ng-container>    
                        </td>
                        <ng-container *ngIf="qubitIndex==0">
                            <th *ngFor="let j of [].constructor(pc.inputConfiguration.blockCircuit.numberOfBlocks)" style="background-color: antiquewhite;" [rowSpan]="pc.inputConfiguration.qubits">
                                Block
                            </th>
                        </ng-container>
                    </tr>
                </table>                
            </td>            
            <td valign="top">
                <table border="1">
                    <tr>
                        <th [colSpan]="math.max(3, pc.inputConfiguration.blockCircuit.block.numberOfLeftColumns+pc.inputConfiguration.blockCircuit.block.numberOfRightColumns+1)">
                            Block description
                        </th>
                    </tr>
                    <tr>
                        <th [colSpan]="math.max(1, pc.inputConfiguration.blockCircuit.block.numberOfLeftColumns)">
                            <small>Left&nbsp;</small>
                            <input type="number" min="0" step="1" size="2" 
                                [(ngModel)]="pc.inputConfiguration.blockCircuit.block.numberOfLeftColumns"
                                (change)="pc.inputConfiguration.blockCircuit.block.updateColumns('left', pc.inputConfiguration.qubits)">
                        </th>
                        <th [rowSpan]="pc.inputConfiguration.qubits+1" valign="center" align="center" style="background-color: antiquewhite;">
                            U
                        </th>
                        <th [colSpan]="math.max(1, pc.inputConfiguration.blockCircuit.block.numberOfRightColumns)">
                            <small>Right&nbsp;</small>
                            <input type="number" min="0" step="1" size="2" 
                                [(ngModel)]="pc.inputConfiguration.blockCircuit.block.numberOfRightColumns"
                                (change)="pc.inputConfiguration.blockCircuit.block.updateColumns('right', pc.inputConfiguration.qubits)">
                        </th>
                    </tr>
                    <tr *ngFor="let i of [].constructor(pc.inputConfiguration.qubits); let qubitIndex = index">
                        <td *ngFor="let i of [].constructor(math.max(1, pc.inputConfiguration.blockCircuit.block.numberOfLeftColumns)); let columnIndex = index">
                            <ng-container *ngIf="pc.inputConfiguration.blockCircuit.block.leftColumns[columnIndex]">
                                <input type="text" size="2" [(ngModel)]="pc.inputConfiguration.blockCircuit.block.leftColumns[columnIndex].gates[qubitIndex].name"
                                    (change)="setBlockGate('left', columnIndex, qubitIndex, $event)">
                            </ng-container>
                        </td>
                        <td *ngFor="let i of [].constructor(math.max(1, pc.inputConfiguration.blockCircuit.block.numberOfRightColumns)); let columnIndex = index">
                            <ng-container *ngIf="pc.inputConfiguration.blockCircuit.block.rightColumns[columnIndex]">
                                <input type="text" size="2" [(ngModel)]="pc.inputConfiguration.blockCircuit.block.rightColumns[columnIndex].gates[qubitIndex].name"
                                   (change)="setBlockGate('right', columnIndex, qubitIndex, $event)">
                            </ng-container>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <br>
    <table border="1">
        <tr>
            <th [colSpan]="remoteFitnessers.length">
                Available fitnessers
            </th>
        </tr>
        <tr>
            <th *ngFor="let rf of remoteFitnessers">
                {{ rf.name }} ({{ rf.index }})
                <input type="checkbox" [(ngModel)]="rf.selected" (click)="selectFitnesser(rf)">
            </th>
        </tr>
        <tr>
            <td *ngFor="let rf of remoteFitnessers">
                Max. fitness: {{ rf.maxFitness }}
                <br>
                Max. error: {{ rf.maxError }}
                <br>
                <mark>Expected fitness: {{ rf.expectedFitness }}</mark>
            </td>
        </tr>
    </table>
    
    <br>
    Delete files: <input type="checkbox" [(ngModel)]="pc.inputConfiguration.deleteFiles">
    &nbsp;
    <span style="border : solid 1px">
        % of 1 qubit gates <input type="number" min="0" max="100" step ="1" [(ngModel)]="pc.probOf1QubitGates">
        &nbsp;
        % of 2 qubit gates <input type="number" min="0" max="100" step ="1" [(ngModel)]="pc.probOf2QubitGates">
        &nbsp;
        % of 3 qubit gates <input type="number" min="0" max="100" step ="1" [(ngModel)]="pc.probOf3QubitGates">
        &nbsp;
        % of >=4 qubit gates <input type="number" min="0" max="100" step ="1" [(ngModel)]="pc.probOfNQubitGates">
    </span>
    <br>
    <div style="border : solid 1px">
        <strong>Strategies policy</strong>
        <br>
        <u>Massive mutation</u>:
        <br>&nbsp;&nbsp;Apply after <input type="number" min="0" [(ngModel)]="pc.massiveMutationPolicy.fallsThreshold"> 
            falls of the <input type="checkbox" [(ngModel)]="pc.massiveMutationPolicy.applicableWhenBestFitnessFalls"><u>best fitness</u> 
            <input type="checkbox" [(ngModel)]="pc.massiveMutationPolicy.applicableWhenMeanFitnessFalls"><u>mean fitness</u>
        <br>&nbsp;&nbsp;Apply when the best indivudal reaches a fitness of <input type="number" min="0" step="0.05" [(ngModel)]="pc.massiveMutationPolicy.fitnessPercentage"> 
            of the expected fitness 
        <br>&nbsp;&nbsp;Maximum times of consecutive massive mutations: <input type="number" min="0" [(ngModel)]="pc.massiveMutationPolicy.maxConsecutiveApplications"> 
    </div>
    <br>
    &nbsp;
    Available templates:
    <select [(ngModel)]="manager.selectedTemplate" (ngModelChange)="onTemplateChange($event)">
        <option *ngFor="let template of manager.templates" [ngValue]="template">
            {{ template.fileName }}
        </option>
    </select> 
    <button (click)="generateInitialPopulation()" [disabled]="selectedRemoteFitnessers.length==0 && !running">Generate initial population and start running</button>
    &nbsp;
    <button (click)="stop()" [disabled]="!running">Stop</button>
</div>

<span style="color : red">{{ error }}</span>

<small>
    <table border="1">
        <tr>
            <th colspan="2" valign="right">Generation</th>
            <th *ngFor="let i of [].constructor(pc.iterationIndex); let iterationIndex = index">
                {{ iterationIndex }}
            </th>
        </tr>
        <ng-container *ngFor="let fitnesser of selectedRemoteFitnessers; let fitnesserIndex = index">
            <tr>
                <th rowspan="5">{{ fitnesser.shortName }}</th>
            </tr>
            <tr>
                <th>Strategy</th>
                <td *ngFor="let i of [].constructor(pc.iterationIndex); let iterationIndex = index">
                    {{ strategies[fitnesserIndex][iterationIndex] }}
                </td>
            </tr>
            <tr>
                <th>Best fitness</th>
                <td *ngFor="let i of [].constructor(pc.iterationIndex); let iterationIndex = index">
                    {{ bestFitnesses[fitnesserIndex][iterationIndex] }}
                </td>
            </tr>
            <tr>
                <th>Mean fitness</th>
                <td *ngFor="let i of [].constructor(pc.iterationIndex); let iterationIndex = index">
                    {{ meanFitnesses[fitnesserIndex][iterationIndex] }}
                </td>
            </tr>
            <tr>
                <th>Error</th>
                <td *ngFor="let i of [].constructor(pc.iterationIndex); let iterationIndex = index">
                    {{ meanErrors[fitnesserIndex][iterationIndex] }}
                </td>
            </tr>
        </ng-container>
    </table>
</small>

<table border="1" *ngFor="let rf of selectedRemoteFitnessers; let fitnesserIndex = index">
    <tr>
        <th [colSpan]="2+individuals.length" align="left">{{ rf.shortName }}</th>
    </tr>
    <tr>
        <th [colSpan]="2+individuals.length" align="left">
            <i style="color : green" [hidden]="state==undefined">{{ state }}</i>
            &nbsp;
            <small><i style="color : green" [hidden]="substate==undefined">{{ substate }}</i></small>
        </th>
    </tr>
    <tr>
        <th>Output</th>
        <th>
            <i>p<sub>i</sub></i>
            &nbsp;
            <small><small style="color : blue" (click)="random()">Random</small></small>
        </th>
        <th *ngFor="let individual of individuals; let individualIndex = index" 
            [ngStyle]="{ 'background-color' :  individual.selected[fitnesserIndex] ? 'lightblue' : '#fffff'}">
            <span *ngIf="individual.selected[fitnesserIndex]">💃</span>
            <u (click)="getCode(individual)">{{ individuals[individualIndex].index }}</u>
        </th>
    </tr>
    <tr *ngFor="let i of [].constructor(pc.inputConfiguration.expectedFrequencies.length); let rowIndex = index" align="center">
        <td>
            {{ rowIndex }}
            <sub>{{ rowIndex.toString(2) }}</sub>
        </td>
        <td>
            <input type="number" min="0" step="1" [(ngModel)]="pc.inputConfiguration.expectedFrequencies[rowIndex]" (change)="updateExpectedFrequencies()">
        </td>
        <td *ngFor="let individual of individuals" align="right">
            {{ individual.gotFrequencies[fitnesserIndex][rowIndex] }}
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <strong><i>Error</i></strong>
        </td>
        <td *ngFor="let individual of individuals" align="right">
            {{ individual.error[fitnesserIndex] }}
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <strong><i>Fitness</i></strong>
        </td>
        <td *ngFor="let individual of individuals" align="right">
            {{ individual.fitness[fitnesserIndex] }}
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <strong><i>Length</i></strong>
        </td>
        <td *ngFor="let individual of individuals" align="right">
            {{ individual.length[fitnesserIndex] }}
        </td>
    </tr>    
</table>

<i style="color : green" [hidden]="state==undefined">{{ state }}</i>
&nbsp;
<small><i style="color : green" [hidden]="substate==undefined">{{ substate }}</i></small>

<span *ngFor="let rf of selectedRemoteFitnessers; let fIndex = index">
    <div class="chart-container" style="position: relative; height:40vh; width:80vw" [hidden]="!rf.selected">
        <canvas [id]="'chart' + fIndex">{{ rf.chart }}</canvas>
    </div>
</span>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="timesChart"></canvas>
</div>

<small>
    <pre>
    {{ code }}
    </pre>
</small>
