.matrixCell {
    border-left : 1px solid black;
    border-right : 1px solid black;
    border-radius: 10px;
    line-height: 0.5em;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    margin-right: 10px;
}

ul li.right {
    margin-right: 0;
}

#divChart{
    display: block;
    width: 400px;
    height: 400px;
}

input[type='number']{
    width: 60px;
} 

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #009688;
    color: white;
    border: none;
    height: 50px; /* Ajusta la altura */
    width: 50px; /* Ajusta la anchura */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    line-height: 50px; /* Centra el texto verticalmente */
  }
  