<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<base href="/quco/">

<body [class.high-contrast]="highContrast" [class.dark-mode]="darkMode">


  <!-- Contenedor principal con el menú y el contenido -->
  <div class="main-container">
    <!-- Menú lateral -->
    <div class="sidebar" [class.open]="menuAbierto">
      <button class="toggle-btn" (click)="toggleMenu()" aria-label="Toggle menu">
        <i class="fas" [ngClass]="menuAbierto ? 'fa-times' : 'fa-bars'"></i>
      </button>

      <ul class="sidebar-menu">
        <!-- <li>
          <a routerLink="matrixes" routerLinkActive="active">
            <i class="fas fa-table" title="Matrices"></i>
            <span *ngIf="menuAbierto">Matrices</span>
          </a>
        </li> -->
        <li>
          <a routerLink="matrixes" routerLinkActive="active" (click)="navigateAndReload('matrixes')">
            <i class="fas fa-table" title="Matrices"></i>
            <span *ngIf="menuAbierto">Matrices</span>
          </a>
        </li>
        <li>
          <a routerLink="grenoble" routerLinkActive="active" (click)="navigateAndReload('grenoble')">
            <i class="fas fas fa-search" title="Grover, Grover and Rudolph, Grenoble"></i>

            <span *ngIf="menuAbierto">Algorithms
              <br>
              <small style="font-size: 12px;">Grover, Grover and Rudolph, Greenoble</small>
            </span>
          </a>
        </li>
        <li>
          <a routerLink="elonging" routerLinkActive="active" (click)="navigateAndReload('elonging')">
            <i class="fas fa-dna" title="Genetic algorithm"></i>
            <span *ngIf="menuAbierto">Genetic algorithm</span>
          </a>
        </li>
        <li>
          <a routerLink="blocks" routerLinkActive="active" (click)="navigateAndReload('blocks')">
            <i class="fas fa-th-large" title="Blocks genetic algorithm"></i>
            <span *ngIf="menuAbierto">Blocks genetic algorithm</span>
          </a>
        </li>
        <li>
          <a routerLink="editor" routerLinkActive="active" (click)="navigateAndReload('editor')">
            <i class="fas fa-microchip" title="Circuits editor"></i>
            <span *ngIf="menuAbierto">Circuits editor</span>
          </a>
        </li>
        <li class="separador">
          <a class="separador">
            <i *ngIf="!menuAbierto">——</i>
            <span *ngIf="menuAbierto">CONFIGURATON</span>
          </a>
        </li>
        <li>
          <a routerLink="qubits-configuration" routerLinkActive="active"
            (click)="navigateAndReload('qubits-configuration')">
            <i class="fas fa-cubes" title="Qubits configuration"></i>
            <span *ngIf="menuAbierto">Qubits configurations</span>
          </a>
        </li>
        <li>
          <a routerLink="templates" routerLinkActive="active" (click)="navigateAndReload('templates')">
            <i class="fas fa-file-code" title="Code templates"></i>
            <span *ngIf="menuAbierto">Code templates</span>
          </a>
        </li>

        <li>
          <a routerLink="transpilation" routerLinkActive="active" (click)="navigateAndReload('transpilation')">
            <i class="fas fas fa-exchange-alt" title="Transpilation"></i>
            <span *ngIf="menuAbierto">Transpilation</span>
          </a>
        </li>

        <li>
          <a routerLink="execution-history" routerLinkActive="active" (click)="navigateAndReload('execution-history')">
            <i class="fas fa-rocket" title="Execution History"></i>
            <span *ngIf="menuAbierto">Execution history</span>
          </a>
        </li>

        <li class="user" style="cursor: default; position: relative;" (mouseleave)="isUserDropdownOpen = false">
          <a (click)="toggleUserDropdown()" style="cursor: pointer; margin-bottom: 5px;" title="User info">
            <i class="fas fa-user-circle"></i>
            <span *ngIf="menuAbierto">User</span>
          </a>

          <!-- Dropdown Menu -->
          <div class="user-dropdown" *ngIf="isUserDropdownOpen" [class.menu-open]="menuAbierto">
            <div class="user-dropdown-header">
              <span class="dropdown-title">User Info</span>
            </div>

            <a href="https://alarcosj.esi.uclm.es/qsauron" target="_blank" rel="noopener noreferrer"
              class="dropdown-item">
              <i class="fas fa-eye" style="font-size: 16px; width: 25px;"></i> <span class="dropdown-text">Go to
                Projects</span>
            </a>
            <a (click)="toggleDarkMode(); toggleUserDropdown()" class="dropdown-item" style="cursor: pointer;">
              <i class="fas fa-adjust" style="font-size: 16px; width: 25px;"></i> <span class="dropdown-text">{{
                darkMode ? 'Light Theme' : 'Dark Theme' }}</span>
            </a>
          </div>

          <a routerLinkActive="active" style="cursor: pointer;" (click)="isLoggedIn() ? cerrarSesion() : toggleLogin()">
            <i class="fas fa-sign-in-alt" title="Log in" *ngIf="!isLoggedIn()"></i>
            <i class="fas fa-sign-out-alt" title="Log out" *ngIf="isLoggedIn()"></i>

            <span *ngIf="menuAbierto">
              {{ isLoggedIn() ? 'Log out' : 'Log in' }}
            </span>
          </a>
        </li>

        <li class="ajustes">
          <a (click)="toggleAccessibilityPanel()" class="accessibility-link">
            <i class="fas fa-cog" title="Settings"></i>
            <span *ngIf="menuAbierto">Settings</span>
          </a>
        </li>


      </ul>
    </div>

    <!-- Contenido principal -->
    <div class="content">
      <div class="header">
        <!-- <h1 class="title fade-in" click)="goToHome()" style="cursor: pointer;" title="Go to home"> -->
        <h2 class="title fade-in" routerLink="home" routerLinkActive="active" style="cursor: pointer;"
          title="Go to home">
          <img src="assets/img/logo1.png" alt="Logo" class="logo"> Quantum Code Generation
        </h2>
      </div>

      <app-home *ngIf="mostrarInicio"></app-home>

      <router-outlet (activate)="onActivate()" *ngIf="!mostrarInicio" [class.high-contrast]="highContrast"
        [class.dark-mode]="darkMode"></router-outlet>
    </div>

  </div>


  <div class="accessibility-modal" *ngIf="showAccessibility">
    <div class="modal-content instrucciones" cdkDrag #minDir="appMinimize" appMinimize
      cdkDragRootElement="modal-content">
      <div class="modal-header" cdkDragHandle>
        <h2 class="title-modal">Settings</h2>
        <button class="close"><i class="minimize-i fas fa-minus" (click)="minDir.toggle($event)" title="Minimize"></i>
          <i class="close-i" (click)="showAccessibility = false">&times;</i></button>
      </div>

      <div class="modal-body">

        <section class="accessibility-section">
          <h3>Zoom</h3>
          <div class="button-group">
            <button (click)="increaseZoom()" [disabled]="isMaxZoom()" class="increaseZoom"><i
                class="fas fa-search-plus"></i> Zoom in</button>
            <button (click)="decreaseZoom()" [disabled]="isMinZoom()" class="decreaseZoom"><i
                class="fas fa-search-minus"></i> Zoom out</button>
            <button (click)="resetZoom()" class="default-btn"><i class="fas fa-undo"></i> Default</button>
          </div>
        </section>

        <section class="accessibility-section">
          <h3 style="margin-top: 0px; padding: 0px;">Appearance</h3>
          <div class="toggle-container">
            <span class="toggle-label">Black & White</span>
            <label class="switch">
              <input type="checkbox" [checked]="grayscale" (change)="toggleGrayscale()">
              <span class="slider round"></span>
            </label>
          </div>
          <h3></h3>
          <div class="color-settings">
            <label>
              Background:
              <input title="Pick color" type="color" [value]="bgColor" (input)="setPastelBgColor($event)">
            </label>
            <label>
              Sidebar:
              <input title="Pick color" type="color" [value]="sidebarColor" (input)="setPastelSidebarColor($event)">
            </label>
          </div>
        </section>

        <section class="accessibility-section reset-section">
          <button class="reset-btn" (click)="resetColors()"><i class="fas fa-redo"></i> Reset appearance</button>
        </section>

      </div>

    </div>
  </div>


  <div class="modal-login" *ngIf="mostrarModalLogin">
    <div class="modal-login-content">
      <div class="modal-header" style="border-top-left-radius: 8px; border-top-right-radius: 8px">
        <h2 class="modal-login-title">Log in</h2>
        <button class="modal-login-close-btn" (click)="cerrarModalLogin()">
          <i class="close-i">&times;</i>
        </button>
      </div>
      <div class="modal-login-info-form" style="margin: 15px;">

        <div class="modal-login-input-row">
          <label for="email">Email</label>
          <input id="email" class="modal-login-input-field" type="email" [(ngModel)]="emailUsuario"
            placeholder="example@email.com">
        </div>

        <div class="modal-login-input-row">
          <label for="password">Password</label>
          <input id="password" class="modal-login-input-field" type="password" [(ngModel)]="passwordUsuario"
            placeholder="password">
        </div>



        <div class="modal-login-buttons">
          <p class="login-spec-link" (click)="abrirRegistro()">
            Don't have an account? Register here.
          </p>
          <div class="modal-login-action-group">
            <button class="modal-login-btn-confirm" (click)="iniciarSesion()" [disabled]="isLoginDisabled()">
              Login
            </button>

            <button class="modal-login-btn-cancel" (click)="cerrarModalLogin()">
              Cancel
            </button>
          </div>

        </div>

        <div class="modal-login-error" *ngIf="errorLogin">{{ errorLogin }}</div>
      </div>
    </div>
  </div>


  <div class="modal-register" *ngIf="mostrarModalRegistro">
    <div class="modal-register-content">
      <div class="modal-header" style="border-top-left-radius: 8px; border-top-right-radius: 8px">
        <h2 class="modal-register-title">Register</h2>
        <button class="modal-register-close-btn" (click)="cerrarModalRegistro()">
          <i class="close-i">&times;</i>
        </button>
      </div>

      <div class="modal-register-info-form" style="margin: 15px;">
        <div class="modal-register-input-row">
          <label for="register-email">Email</label>
          <input id="register-email" class="modal-register-input-field" type="email" [(ngModel)]="emailRegistro"
            placeholder="example@email.com">
        </div>

        <div class="modal-register-input-row">
          <label for="register-password">Password</label>
          <input id="register-password" class="modal-register-input-field" type="password"
            [(ngModel)]="passwordRegistro" placeholder="password">
        </div>

        <div class="modal-register-input-row">
          <label for="register-confirm-password">Confirm password</label>
          <input id="register-confirm-password" class="modal-register-input-field" type="password"
            [(ngModel)]="passwordConfirmacion" placeholder="confirm password">
          <div *ngIf="passwordMismatchMessage" class="input-error-message">
            {{ passwordMismatchMessage }}
          </div>
        </div>

        <div class="modal-register-buttons">
          <button class="modal-register-btn-confirm" (click)="registrarUsuario()" [disabled]="isRegisterDisabled()">
            Register
          </button>

          <button class="modal-register-btn-cancel" (click)="cerrarModalRegistro()">
            Cancel
          </button>
        </div>

        <div class="modal-register-error" *ngIf="errorRegistro">{{ errorRegistro }}</div>
      </div>
    </div>
  </div>

  <div class="modal-logout-confirm" *ngIf="mostrarModalLogoutConfirmacion">
    <div class="modal-logout-content">

      <div class="modal-logout-header">
        <h3 class="modal-logout-title">Log out</h3>
        <button class="modal-logout-close-btn" (click)="cerrarModalLogoutConfirmacion()">
          &times;
        </button>
      </div>

      <div class="modal-logout-body">
        <p>Are you sure you want to log out?</p>
      </div>

      <div class="modal-logout-buttons">
        <button class="modal-logout-btn-cancel" (click)="cerrarModalLogoutConfirmacion()">
          Cancel
        </button>
        <button class="modal-logout-btn-confirm" (click)="confirmarCerrarSesion()">
          Log out
        </button>
      </div>
    </div>
  </div>

  <div class="notification-success" *ngIf="mostrarMensajeExito">
    <i class="fas fa-check-circle success-icon"></i>
    <p>{{ mensajeExito }}</p>
  </div>

  <div class="notification-error" *ngIf="mostrarMensajeError">
    <i class="fas fa-times-circle fail-icon"></i>
    <p style="color: white;">{{ mensajeError }}</p>
  </div>

</body>