<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<base href="/quco/">
<body [class.high-contrast]="highContrast" [class.dark-mode]="darkMode">
  
  
  <!-- Contenedor principal con el menú y el contenido -->
  <div class="main-container">
    <!-- Menú lateral -->
    <div class="sidebar" [class.open]="menuAbierto">
      <button class="toggle-btn" (click)="toggleMenu()" aria-label="Toggle menu">
        <i class="fas" [ngClass]="menuAbierto ? 'fa-times' : 'fa-bars'"></i>
      </button>

      <ul class="sidebar-menu">
        <!-- <li>
          <a routerLink="matrixes" routerLinkActive="active">
            <i class="fas fa-table" title="Matrices"></i>
            <span *ngIf="menuAbierto">Matrices</span>
          </a>
        </li> -->
        <li>
          <a routerLink="matrixes" routerLinkActive="active" (click)="navigateAndReload('matrixes')">
            <i class="fas fa-table" title="Matrices"></i>
            <span *ngIf="menuAbierto">Matrices</span>
          </a>
        </li>
        <li>
          <a routerLink="grenoble" routerLinkActive="active" (click)="navigateAndReload('grenoble')">
            <i class="fas fas fa-search" title="Grover, Grover and Rudolph, Grenoble"></i>

            <span *ngIf="menuAbierto">Algorithms
              <br>
              <small style="font-size: 12px;">Grover, Grover and Rudolph, Greenoble</small>
            </span>
          </a>
        </li>
        <li>
          <a routerLink="elonging" routerLinkActive="active" (click)="navigateAndReload('elonging')">
            <i class="fas fa-dna" title="Genetic algorithm"></i>
            <span *ngIf="menuAbierto">Genetic algorithm</span>
          </a>
        </li>
        <li>
          <a routerLink="blocks" routerLinkActive="active" (click)="navigateAndReload('blocks')">
            <i class="fas fa-th-large" title="Blocks genetic algorithm"></i>
            <span *ngIf="menuAbierto">Blocks genetic algorithm</span>
          </a>
        </li>
        <li class="separador">
          <a class="separador">
            <i *ngIf="!menuAbierto">——</i>
            <span *ngIf="menuAbierto">CONFIGURATON</span>
          </a>
        </li>
        <li>
          <a routerLink="editor" routerLinkActive="active" (click)="navigateAndReload('editor')">
            <i class="fas fa-microchip" title="Circuits editor"></i>
            <span *ngIf="menuAbierto">Circuits editor</span>
          </a>
        </li>
        <li>
          <a routerLink="qubits-configuration" routerLinkActive="active" (click)="navigateAndReload('qubits-configuration')">
            <i class="fas fa-cubes" title="Qubits configuration"></i>
            <span *ngIf="menuAbierto">Qubits configurations</span>
          </a>
        </li>
        <li>
          <a routerLink="templates" routerLinkActive="active" (click)="navigateAndReload('templates')">
            <i class="fas fa-file-code" title="Code templates"></i>
            <span *ngIf="menuAbierto">Code templates</span>
          </a>
        </li>

        <li>
          <a routerLink="transpilation" routerLinkActive="active" (click)="navigateAndReload('transpilation')">
            <i class="fas fas fa-exchange-alt" title="Transpilation"></i>
            <span *ngIf="menuAbierto">Transpilation</span>
          </a>
        </li>

        <li class="ajustes">
          <a (click)="toggleAccessibilityPanel()" class="accessibility-link">
            <i  class="fas fa-cog" title="Settings"></i>
            <span *ngIf="menuAbierto">Settings</span>
          </a>
        </li>


      </ul>
    </div>

    <!-- Contenido principal -->
    <div class="content">
      <div class="header">
        <!-- <h1 class="title fade-in" click)="goToHome()" style="cursor: pointer;" title="Go to home"> -->
        <h2 class="title fade-in" routerLink="home" routerLinkActive="active" style="cursor: pointer;" title="Go to home">
          <img src="assets/img/logo1.png" alt="Logo" class="logo"> Quantum Code Generation
        </h2>
      </div>
    
      <app-home *ngIf="mostrarInicio"></app-home>
    
      <router-outlet (activate)="onActivate()" *ngIf="!mostrarInicio" [class.high-contrast]="highContrast" [class.dark-mode]="darkMode"></router-outlet>
    </div>
    
  </div>


  <div class="accessibility-modal" *ngIf="showAccessibility">
    <div class="modal-content instrucciones"
      cdkDrag
      cdkDragRootElement="modal-content">
      <div class="modal-header" cdkDragHandle>
        <h2 class="title-modal">Settings</h2>
        <button class="close"><i class="close-i" (click)="showAccessibility = false">&times;</i></button>
      </div>
    
      <div class="modal-body">

        <section class="accessibility-section">
          <h3>Zoom</h3>
          <div class="button-group">
            <button (click)="increaseZoom()" [disabled]="isMaxZoom()" class="increaseZoom"><i class="fas fa-search-plus"></i> Zoom in</button>
            <button (click)="decreaseZoom()" [disabled]="isMinZoom()" class="decreaseZoom"><i class="fas fa-search-minus"></i> Zoom out</button>
            <button (click)="resetZoom()" class="default-btn"><i class="fas fa-undo"></i> Default</button>
          </div>
        </section>

        <section class="accessibility-section">
          <h3 style="margin-top: 0px; padding: 0px;">Appearance</h3>
          <div class="toggle-container">
            <span class="toggle-label">Black & White</span>
            <label class="switch">
              <input type="checkbox" [checked]="grayscale" (change)="toggleGrayscale()">
              <span class="slider round"></span>
            </label>
          </div>
          <h3></h3>
          <div class="color-settings">
            <label>
              Background:
              <input title="Pick color" type="color" [value]="bgColor" (input)="setPastelBgColor($event)">
            </label>
            <label>
              Sidebar:
              <input title="Pick color" type="color" [value]="sidebarColor" (input)="setPastelSidebarColor($event)">
            </label>
          </div>
        </section>

        <section class="accessibility-section reset-section">
          <button class="reset-btn" (click)="resetColors()"><i class="fas fa-redo"></i> Reset appearance</button>
        </section>

      </div>

    </div>
  </div>


  <!-- Interfaz de accesibilidad -->
  <!-- <div class="accessibility-modal" *ngIf="showAccessibility">
    <div class="accessibility-content">
      <h2>Accesibility and settings</h2>

      <button (click)="toggleHighContrast()">
        <i class="fas fa-adjust"></i> High contrast
      </button>

      <label>
        🌈 Background color
          <input type="color" [value]="bgColor" (input)="setBgColor($event)">
      </label>

      <label>
        🎨 Main containers color
        <input type="color" [value]="containerColor" (input)="setContainerColor($event)">
      </label>

      <button (click)="accessibility.increaseFontSize()">
        <i class="fas fa-search-plus"></i> Increase font size
      </button>

      <button (click)="accessibility.decreaseFontSize()">
        <i class="fas fa-search-minus"></i> Reduce font size
      </button>

      <button (click)="accessibility.resetFontSize()">
        <i class="fas fa-undo"></i> Default font size
      </button>

      <button (click)="toggleDarkMode()">
        <i class="fas fa-moon"></i> Dark mode
      </button>

      <div class="accessibility-panel">
        <label>
          🌈 Background color
          <input type="color" [value]="bgColor" (input)="setBgColor($event)">
        </label>

        <label>
          🎨 Main containers color
          <input type="color" [value]="containerColor" (input)="setContainerColor($event)">
        </label>
      </div>

      <button (click)="closeAccessibilityPanel()">
        <i class="fas fa-times"></i> Close
      </button>
    </div>
  </div> -->
  
</body>