<!--<nav>
  <ul>
    <li>
      <a routerLink="matrix">Work with a single matrix</a>
    </li>
    <li>
      <a routerLink="words">Work with several qubits</a>
    </li>
  </ul>

  &nbsp;&nbsp;
</nav>
-->


<!--
<h1>Quantum code generation</h1>
<nav  class="navbar navbar-expand-sm bd-dark navbar-dark">
  <a routerLink="matrixes" routerLinkActive="active" ariaCurrentWhenActive="page">Matrices</a>
  &nbsp;
  <a routerLink="grover" routerLinkActive="active" ariaCurrentWhenActive="page">Grover</a>
  &nbsp;
  <a routerLink="elonging" routerLinkActive="active" ariaCurrentWhenActive="page">Genetic algorithm</a>
  &nbsp;
  <a routerLink="blocks" routerLinkActive="active" ariaCurrentWhenActive="page">Blocks genetic algorithm</a>
  &nbsp;
  <a routerLink="grenoble" routerLinkActive="active" ariaCurrentWhenActive="page">Grover and Rudolph + Grenoble</a>
  &nbsp;
  <a routerLink="editor" routerLinkActive="active" ariaCurrentWhenActive="page">Circuits editor</a>
</nav>
<router-outlet></router-outlet>

<div class="content" role="main">

</div>


<router-outlet></router-outlet>
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<body>
  
  
  <!-- Contenedor principal con el menú y el contenido -->
  <div class="main-container">
    <!-- Menú lateral -->
    <div class="sidebar" [class.open]="menuAbierto">
      <button class="toggle-btn" (click)="toggleMenu()" aria-label="Toggle menu">
        <i class="fas" [ngClass]="menuAbierto ? 'fa-times' : 'fa-bars'"></i>
      </button>

      <ul>
        <li>
          <a routerLink="matrixes" routerLinkActive="active">
            <i class="fas fa-table"></i>
            <span *ngIf="menuAbierto">Matrices</span>
          </a>
        </li>
        <li>
          <a routerLink="grover" routerLinkActive="active">
            <i class="fas fa-search"></i>
            <span *ngIf="menuAbierto">Grover</span>
          </a>
        </li>
        <li>
          <a routerLink="elonging" routerLinkActive="active">
            <i class="fas fa-dna"></i>
            <span *ngIf="menuAbierto">Genetic algorithm</span>
          </a>
        </li>
        <li>
          <a routerLink="blocks" routerLinkActive="active">
            <i class="fas fa-th-large"></i>
            <span *ngIf="menuAbierto">Blocks genetic algorithm</span>
          </a>
        </li>
        <li>
          <a routerLink="grenoble" routerLinkActive="active">
            <i class="fas fa-project-diagram"></i>
            <span *ngIf="menuAbierto">Grover and Rudolph + Grenoble</span>
          </a>
        </li>
        <li>
          <a routerLink="editor" routerLinkActive="active">
            <i class="fas fa-microchip"></i>
            <span *ngIf="menuAbierto">Circuits editor</span>
          </a>
        </li>
        <li>
          <a routerLink="qubits-configuration" routerLinkActive="active">
            <i class="fas fa-cubes"></i>
            <span *ngIf="menuAbierto">Qubits configurations</span>
          </a>
        </li>
        <li>
          <a routerLink="templates" routerLinkActive="active">
            <i class="fas fa-file-code"></i>
            <span *ngIf="menuAbierto">Code templates</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Contenido principal -->
    <div class="content">
      <div class="header">
        <h1 class="title fade-in" (click)="goToHome()" style="cursor: pointer;" title="Go to home">
          <img src="assets/img/logo1.jpg" alt="Logo" class="logo"> Quantum Code Generation
        </h1>
      </div>
    
      <div *ngIf="mostrarInicio" class="container">
        <div class="titulo">
          <h1 class="main-title" class="fade-in">Welcome to Quantum Code Generation</h1>
          <p class="fade-in">
            This web allows you to design, simulate, and execute quantum circuits efficiently. 
            <!-- Use powerful algorithms such as Grover's search and genetic optimization to solve complex problems. -->
          </p>
        </div>
        
        <div class="info-container">
          <!-- Quantum Code Introduction -->
          <div class="intro-section container fade-in">
            <h2 class="intro-title">About quantum code</h2>
            <div class="content-container">
              <p class="intro-text">
                Quantum code leverages the power of quantum computing to solve complex problems faster than traditional computers. 
                By harnessing qubits and quantum gates, it enables advanced algorithms like Grover's search and quantum optimization. 
                This makes it incredibly useful for tasks such as cryptography, data analysis, and simulation of quantum systems. 
                As quantum technology continues to evolve, learning and experimenting with quantum code opens the door to groundbreaking possibilities in computing and problem-solving.
              </p>
              <div class="image-container">
                <img src="assets/img/posicionesQubit.png" alt="qubitsImg" class="posicionesQubit">
              </div>
            </div>
          </div>
          <div class="features-section fade-in">
            <h2 class="intro-title">Available Features:</h2>
            <p class="features-text">
              In this web, you can access the following features to explore quantum computing and quantum code generation:
            </p>
            <ul class="features-list">
              <li routerLink="matrixes" routerLinkActive="active" class="option fade-in"><strong>- Matrices:</strong> work with single matrices to perform quantum operations.</li>
              <li routerLink="grover" routerLinkActive="active" class="option fade-in"><strong>- Grover:</strong> implement Grover’s algorithm to work with multiple qubits.</li>
              <li routerLink="elonging" routerLinkActive="active" class="option fade-in"><strong>- Genetic algorithm:</strong> use evolutionary techniques to optimize solutions.</li>
              <li routerLink="blocks" routerLinkActive="active" class="option fade-in"><strong>- Blocks genetic algorithm:</strong> enhance solutions using a block-based genetic algorithm approach.</li>
              <li routerLink="grenoble" routerLinkActive="active" class="option fade-in"><strong>- Grover and Rudolph + Grenoble:</strong> combine Grover's and Grenoble's algorithms for improved problem-solving.</li>
              <li routerLink="editor" routerLinkActive="active" class="option fade-in"><strong>- Circuits editor:</strong> create and customize quantum circuits interactively.</li>
              <li routerLink="grenoble" routerLinkActive="active" class="option fade-in"><strong>- Qubits configurations:</strong> text</li>
              <li routerLink="editor" routerLinkActive="active" class="option fade-in"><strong>- Code templates:</strong> text</li>
            </ul>
          </div>
        </div>
      </div>
    
      <router-outlet (activate)="onActivate()"></router-outlet>
    </div>
    
  </div>
</body>