  body {
    width: 100%;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
  }

  .container {
    transition: background-color 0.3s, color 0.3s;
  }

div, section, article, main, aside, header, footer, p, span, h1, h2, h3, li, a, button {
  transition: background-color 0.3s, color 0.3s;
}

  .header {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
  }
  
  .title {
    font-size: 14px;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 5px;
    /* color: rgb(4, 87, 4); */
    color: #0b555a;
    background-color: #ffffff00;
  }

  .title img {
    width: 20px;
    height: 20px;
  }

  h2.title {
    text-align: center;
    width: 100%;
    margin-top: 20px;
 }
 
  /* Contenedor principal: Menú y contenido alineados */
 .main-container {
     display: flex;
     /* width: 100vw;
     height: 100vh; */
     min-width: 320px;
     min-height: 500px;
   }
   
   /* Menú lateral */
   .sidebar {
     width: 60px; /* Tamaño reducido cuando está colapsado */
     padding-left: 5px;

     background-color: #008b95;
     color: white;
     height: 100%;
     transition: width 0.3s ease, left 0.3s ease;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 1000;
     padding-top: 50px;

     justify-content: space-between;
   }
   
   .sidebar.open {
     width: 200px; /* Tamaño cuando está expandido */
     align-items: flex-start;
     padding-left: 10px;
   }

   .sidebar-menu {
      display: flex;
      flex-direction: column;
      height: 92%;
    }

   .sidebar-menu .ajustes {
      margin-top: auto;
    }
    
    .sidebar-menu .user {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;

      padding-left: 10px;
    }

    .sidebar-menu .user:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0);
    }
    
      
   /* Botón para abrir/cerrar el menú */
   .toggle-btn {
     position: fixed;
     top: 15px;
     left: 15px;
     width: 40px;
     height: 40px;
     border: none;
     background-color: #008b9500;
     color: white;
     font-size: 18px;
     border-radius: 50%;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: left;
     transition: all 0.3s ease;
   }
 
   button :hover{
     transform: scale(1.3);
     transition: all 0.15s ease;
   }

   a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    background-color: #0b555a9c;
   }

  li.separador:hover {
    background-color: #008b95;
    transform: scale(1);
  }
   
  a.separador:hover {
    background-color: #008b95;
    transform: scale(1);
  }
   
   /* Estilos de los enlaces del menú */
   .sidebar ul {
     list-style: none;
     padding: 0;
     width: 100%;
   }
   
   .sidebar ul li {
     display: flex;
     align-items: center;
     padding-right: 10px;
     padding-top: 10px;
     width: 100%;
   }
   
   .sidebar a {
     color: white;
     text-decoration: none;
     display: flex;
     align-items: center;
     width: 100%;
     padding: 10px;
   }
   
   .sidebar i {
     font-size: 20px;
     width: 40px;
     text-align: center;
   }
   
   /* Contenedor del contenido principal */
   .content {
     flex-grow: 1;
     padding: 20px;
     transition: margin-left 0.3s ease;
     margin-left: 60px; /* Alineado con el menú colapsado */
     width: 100%;
   }
 
   .sidebar.open ~ .content {
     margin-left: 200px; /* Ajuste cuando el menú está abierto */
   }
 
   .sidebar a.active {
     background-color: #0b555a;
     border-left: 4px solid #fff;
     font-weight: bold;
   }  
   
   /* RESPONSIVE */
   @media (max-width: 768px) {
     .sidebar {
       width: 0;
       left: -60px;
     }
   
     .sidebar.open {
       width: 200px;
       left: 0;
     }
   
     .content {
       margin-left: 0; /* Contenido ocupa toda la pantalla */
     }
   
     .sidebar.open ~ .content {
       margin-left: 200px; /* Desplaza el contenido cuando el menú está abierto */
     }
   }
   


.container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

  h1 {
    color: #2c3e50;
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
    color: #555;
  }

  h2 {
    color: #34495e;
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li.option {
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 5px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    border-left: 4px solid #007d86;
    border-right: 4px solid #007d86;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }

  li.option:hover {
    background-color: #dbe4e4cb;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
  }

  strong {
    color: #007d86;
  }

  .option::before {
    content: "●";
    margin-right: 5px;
    color: #007d86;
  }


div.titulo {
    margin: 0;
    margin-top: -40px;
}

  .image-container {
    flex-shrink: 0;
    margin-top: 20px;
    max-width: 210px;
  }
  
  .posicionesQubit {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }

  /* Quantum Code Info */

.info-container {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    align-items: stretch;
}

.intro-section,
.features-section {
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #d7e7dc; */
    background-color: #dceee4e5;
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
  
.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #d7e7dc; */
    background-color: #d4d8d84d;
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.features-list {
    margin-top: 0;
    margin-bottom: 0;
}

.intro-title {
    margin: 0;
}

.features-text {
    margin: 0;
    margin-top: 10px;
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.intro-text {
    margin: 0;
    margin-top: 10px;
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}

h2 {
  margin-top: 40px;
}

/* Animación de aparición */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}







/* Modo alto contraste */
/* Se aplica cuando el body tiene la clase high-contrast */


/* ---- ALTO CONTRASTE ---- */
body.high-contrast {
  background-color: #000 !important;
  color: #fff !important;
}

body.high-contrast a {
  color: #0ff !important;
}

body.high-contrast button {
  background: #fff !important;
  color: #000 !important;
  border: 2px solid #fff !important;
}




.sidebar ul li a.accessibility-link {
  cursor: pointer;
}

.sidebar ul li a.accessibility-link:hover {
  background-color: rgba(0, 123, 255, 0.1);
}


/* Interfaz modal de accesibilidad */
/* .accessibility-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
} */

/* .accessibility-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
} */

.accessibility-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;

  pointer-events: none;
}

.accessibility-modal .modal-content {
  pointer-events: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}


.accessibility-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  min-width: 320px;
  width: 88%;
}

.accessibility-content h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.accessibility-content button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background: #17555A;
  color: white;
  cursor: pointer;
}

.accessibility-content button:hover {
  background: #0056b3;
}



.accessibility-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accessibility-section h3 {
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.button-group button {
  flex: 1 1 30%;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #4c9696;
  color: white;
  transition: background 0.2s;
}

.default-btn {
  background: #17555A !important;
}

.default-btn:hover {
  background: #8cbdbd !important;
}


.button-group button:hover {
  background: #386161;
  transform: scale(1.05);
}

.color-settings {
  display: flex;
  gap: 15px; /* espacio entre los dos labels */
  margin-bottom: 15px;
  justify-content: space-between;
}

.color-settings label {
  display: flex;
  align-items: center; /* centra verticalmente el input con el texto */
  gap: 5px;            /* espacio entre texto e input */
  font-size: 14px;
  color: #333;
}

.color-settings input[type="color"] {
  cursor: pointer;
}

.reset-section {
  display: flex;
  justify-content: center;
}

.reset-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #17555A;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
}

.reset-btn:hover {
  background: #8cbdbd;
  transform: scale(1.05);
}

button.increaseZoom:disabled,
button.decreaseZoom:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  background-color: #ccc !important;
  transform: scale(1) !important;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.toggle-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;  /* más ancho para poner ON/OFF */
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-sizing: border-box;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(32px);
}

/* Añadimos los textos ON / OFF */
.slider:after {
  content: "Off";
  position: absolute;
  right: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

input:checked + .slider:after {
  content: "On";
  left: 5px;
  right: auto;
}



.modal-header {
    position: sticky; /* Se mantiene fija en la parte superior dentro del modal */
    top: 0; /* Pegada arriba */
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #008b95;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* Asegura que esté por encima del contenido */
}

.title-modal {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-left: 20px;
}


.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
    padding-left: 80px;
    padding-right: 10px;
    background: none;
    border: none;
}

.close:hover {
  background: none;
  cursor: default;
  color: white;
}

.close-i:hover {
    color: #ccc;
    cursor: pointer;
}


.modal.instrucciones {
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    pointer-events: none;
}
  
.modal-content.instrucciones {
    pointer-events: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: auto;
    max-width: 400px;
    max-height: none;
    overflow-y: auto;
    position: relative;

    resize: both;
    overflow: auto;

    min-width: 360px;
    min-height: 200px;

    border: 1px solid #ccc;
}


.modal-login, .modal-register {
    position: fixed; 
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-login-content, .modal-register-content {
    background-color: #fff;
    /* padding: 25px; */
    border-radius: 8px;
    max-width: 450px; 
    width: 90%; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); 
    position: relative; 
}

.modal-login-header, .modal-register-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modal-login-title, .modal-register-title {
    margin: 15px;
    font-size: 1.5em;
    color: white;
}

.modal-login-close-btn, .modal-register-close-btn {
  margin: 15px;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
    line-height: 1;
}

.modal-login-close-btn.i:hover, .modal-register-close-btn.i:hover {
    color: #777;
}

.modal.login-info-form {
    text-align: left;
    padding: 0 25px 25px 25px;
}

.modal-login-info-form h3, .modal-register-info-form h3 {
    margin-top: 0;
    color: #555;
}

.modal-login-input-row, .modal-register-input-row {
    margin-bottom: 15px;
}

.modal-login-input-row label, .modal-register-input-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

.modal-login-input-field, .modal-register-input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.modal-register-buttons {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.modal-login-buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
    gap: 10px;
    margin-top: 20px;
}

.modal-login-action-group {
    display: flex;
    gap: 10px;
}

.modal-login-btn-confirm, .modal-login-btn-cancel, .modal-register-btn-confirm, .modal-register-btn-cancel {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal-login-buttons.i.fa-sign-in:hover, .modal-register-buttons.i.fa-user-plus:hover {
    transform: scale(1) !important;
}

.modal-login-btn-confirm, .modal-register-btn-confirm {
    background-color: #13989D;
    color: white;
}

.modal-login-btn-confirm:hover:not([disabled]), .modal-register-btn-confirm:hover:not([disabled]) {
    background-color: #136062;
    transform: scale(1.05);
}

.modal-login-btn-confirm[disabled], .modal-register-btn-confirm[disabled] {
    background-color: #9fd3d4;
    cursor: not-allowed;
}

.modal-login-btn-cancel, .modal-register-btn-cancel {
    background-color: #6c757d;
    color: white;
}

.modal-login-btn-cancel:hover, .modal-register-btn-cancel:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}


.modal-login-error, .modal-register-error {
    color: #dc3545; 
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    text-align: center;
}

.login-spec-link {
    font-size: 0.9em;
    color: #6197cf;
    text-align: right;
    
    cursor: pointer;
    text-decoration: underline;
}

.login-spec-link:hover {
    color: #0056b3;
}


.notification-success {
    position: fixed; 
    z-index: 2000;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 15px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    text-align: center;
}

.success-icon {
    font-size: 1.5em;
    color: #28a745;
}

.notification-success p {
    margin: 0;
    font-weight: 500;
}




.modal-logout-confirm {
    position: fixed; 
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif; 
}

.modal-logout-content {
    background-color: #fff;
    border-radius: 8px;
    max-width: 350px;
    width: 90%; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4); 
    position: relative; 
    overflow: hidden; 
}

.modal-logout-header {
    background-color: #C92E2F;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.modal-logout-title {
    margin: 0;
    font-size: 1.2em;
    color: white;
}

.modal-logout-close-btn {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
    background: none;

}

.modal-logout-close-btn:hover {
    color: rgb(177, 170, 170);
    cursor: pointer;
}

.modal-logout-body {
    padding: 20px;
    text-align: center;
}

.modal-logout-body p {
    margin: 0;
    font-size: 1em;
}

.modal-logout-buttons {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 25px; 
}

.modal-logout-btn-cancel,
.modal-logout-btn-confirm {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 0.9em;
}

.modal-logout-btn-cancel {
    background-color: #6c757d; 
    color: white;
}

.modal-logout-btn-confirm {
    background-color: #dc3545; 
    color: white;
}

.modal-logout-btn-confirm:hover {
    background-color: #961926;
    transform: scale(1.05);
}

.modal-logout-btn-cancel:hover {
    background-color: #41484d;
    transform: scale(1.05);
}
.input-error-message {
    color: #C92E2F; 
    font-size: 0.85em; 
    margin-top: 5px; 
    font-weight: normal; 
}