<div>
    Number of  qubits: <input type="number" min="2" [(ngModel)]="qubits">
    <br>
    <button (click)="getEmptyMatrix()">Build input matrix</button>
    <br>
    <h3><mark style="color : red">{{ error }}</mark></h3>
</div>

<div *ngIf="matrix">
    <p>
        Do click on any of the <b>input</b> columns of a row to <span style="color : blue">mark</span> or unmark it onto the Grover oracle,
        or write JavaScript expressions to mark the desired rows.
    </p>
    <p>
        Press <a style="color : blue" (click)="hideExamples=!hideExamples">here</a> to show or hide some examples. 
    </p>

    <div [hidden]="hideExamples">
        <p>The expressions you can introduce msut be JavaScript boolean expressions. The rows for which at least one expression is true are marked to be included in the Grover's oracle.</p>
        <p>
            You can use the following <i>reseved words:</i>
        </p>
        <ul>
            <li><b>q0</b>, <b>q1</b>...<b>q<i>x</i></b> to reference a given qubit.</li>
            <li><b>input</b> to reference the decimal value of the input.</li>
            <li><b>dv(0..2)</b>, <b>dv(5..6)</b> or, in general, <b>dv(<i>x</i>..<i>j</i>)</b>, to reference the decimal value of a set of adjacent qubits.</li>
        </ul>        
        <strong>Examples of expressions to fill-in the table:</strong>
        <ol>
            <li *ngFor="let javaExample of javaExamples; let i = index">
                <span *ngIf="javaExample.exprs.length==1">
                    <code>{{ javaExample.exprs[0] }}</code>
                    →
                    &nbsp;
                    <i>{{ javaExample.explanation }}</i>
                    &nbsp;
                    <a style="color: blue;" (click)="tryFill(i)">Try</a>
                </span>
                <span *ngIf="javaExample.exprs.length>1">
                    <i>{{ javaExample.explanation }}</i>
                    <ol *ngFor="let expr of javaExample.exprs; let j=index">
                        <code>{{ expr }}</code>
                        <span *ngIf="j==javaExample.exprs.length-1">
                            &nbsp;<a style="color: blue;" (click)="tryFill(i)">Try</a>
                        </span>
                    </ol>
                </span>
            </li>
        </ol>
    </div>

    <div>
        <strong>Your expressions:</strong>
        <br>
        <input type="text" size="50" [(ngModel)]="currentUserExpression">&nbsp;<a style="color : blue" (click)="addUserExpression()">Add</a>
        <div *ngFor="let userExpression of userExpressions; let i = index">
            <code>{{ userExpression }}</code>&nbsp;<a style="color : blue" (click)="removeUserExpression(i)">Remove</a>
        </div>
        <br>
        <button (click)="markElementsWithUserExpressions()">Fill table with these expressions</button>
        <div *ngIf="selectedElements>0">
            <i style="color : blue">{{ selectedElements }} elements selected </i>
        </div>
    </div>

    <table border="1">
        <tr style="color:blue">
            <td [colSpan]="qubits+2" align="left">
                <u href="#" (click)="drawAllQuirk(matrix)">Quirk</u>
                &nbsp;
                <u href="#" (click)="getUnitaryMatrix(matrix)">Matrices</u>
                &nbsp;
                Qiskit code: <u href="#" (click)="getQiskitCode(matrix, false)">As a whole program</u>&nbsp;<u href="#" (click)="getQiskitCode(matrix, true)">As a function</u>
            </td>
        </tr>
        <tr>
            <th rowspan="2"></th>
            <th [colSpan]="qubits+1">Inputs</th>
        </tr>
        <tr>
            <th *ngFor="let i of [].constructor(qubits); let cont = index" align="center">
                q<sub>{{cont}}</sub>
            </th>
            <th>Marked</th>
        </tr>

        <tr *ngFor="let row of matrix; let rowIndex = index" align="center" (click)="mark(rowIndex)">
            <th [ngStyle]="{ 'color' : (row[row.length-1]) ? 'blue' : 'black' }">
                {{rowIndex}}
            </th>
            <td *ngFor="let value of row; let colIndex = index" align="center" [ngStyle]="{ 'color' : (row[row.length-1]) ? 'blue' : 'black' }">
                {{ value }}
            </td>
        </tr>
        <tr style="color:blue">
            <td [colSpan]="qubits+2" align="left">
                <u href="#" (click)="drawAllQuirk(matrix)">Quirk</u>
                &nbsp;
                <u href="#" (click)="getUnitaryMatrix(matrix)">Matrices</u>
                &nbsp;
                <u href="#" (click)="getQiskitCode(matrix, false)">Qiskit code</u>
            </td>
        </tr>
    </table>

    <div *ngIf="selectedElements>0">
        <i style="color : blue">{{ selectedElements }} elements selected </i>
    </div>

    Available templates:
    <select [(ngModel)]="manager.selectedTemplate" (ngModelChange)="onTemplateChange($event)">
        <option *ngFor="let template of manager.getTemplatesStartingBy('grover')" [ngValue]="template">
            {{ template.fileName }}
        </option>
    </select> 

    <div  style="border: solid 1px;" id="wholeCode">
        <strong (click)="copyCode()">Copy code</strong><span style="font-size: 30px;">&#x2398;</span>
        <div style="font-size: x-small;">
            <pre *ngFor="let line of qiskitCode">{{ line }}</pre>
        </div>
    </div>
</div>
